doctype html
html
  head
    link(href='/style.css', rel='stylesheet')
    script(src="/polyfills.js")
    script(src="/ajaxRequest.js")
    script!= 'var text = ' + JSON.stringify(env.text, null, 2) + ';'
    block header
    if env.additionalStylesheets
      each sheet in env.additionalStylesheets
        link(href='/' + sheet, rel='stylesheet')
    if env.additionalJavascripts
      each script in env.additionalJavascripts
        script(src=script)
  body
    block layout