extends layout

block append header
	script(src="/socket.io/socket.io.js")
	script(src="/ZSchema-browser.js")
	script(src="/revising.js")
block content
	- var filename = req.params.filename, dataset = env.datasets[filename], mapping = req.params.mapping;
	if !dataset
		h1.error= "Dataset " + filename + " not found :("
	else
		header
			h2.epsilon
				| transforming 
				span.emphasis= req.params.filename
				| with 
				span.emphasis= mapping
		span#socketkey(data-socketkey=socketKey)= socketKey
		section#pending-revisions
			table
				thead
					tr
						td Source
						td Modify
						td Result
				tbody
				tfoot
			span#pending-revisions-summary