/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea, select{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: top;
	outline: 0;
	border-style: solid;
	border-width: 0;
	box-sizing: border-box;
	position: relative;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul{ 
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

div, section, nav{
	position: relative;
}


/* Typography */

html {
    font-size: 100%
}
-webkit-font-smoothing antialiased {
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased
}
body {
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; }

strong {
  font-weight: bold; }

h1, .alpha {
  font-size: 2.625em;
  line-height: 1.0476190476190477;
}

h2, .beta {
  font-size: 1.96875em;
  line-height: 1.3968253968253967;
}

h3, .gamma {
  font-size: 1.3125em;
  margin: 0 0 1.5714285714285714em;
}

h4, .delta {
  font-size: 1.1484375em;
  line-height: 1.1972789115646258;
}

h5, .epsilon {
  font-size: 0.984375em;
  line-height: 1.3968253968253967;
}

h6, .zeta {
  font-size: 0.875em;
  line-height: 1.5714285714285714;
}

p,
blockquote {
  font-size: 1.3125em;
  line-height: 1.5714285714285714;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

dd,
dt,
li {
  line-height: 1.5714285714285714;
  margin: 0; }

a {
  text-decoration: none;
  opacity: 1;
  color: #7CA4BA;
  font-weight: bold;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
  font-family: 'Source Sans Pro', serif;
}

.hidden{
	display: none;
}

body{
	background-color: #fff;
	font-family: sans-serif;
}


/* Layout */

.introbar{
  padding: 1.5% 2%;
  background: #F5EDF0;
  color: white;
  width: 170px;
  float: left;
}
.introbar h1{
	font-size: 1.2em;
}
.introbar a{
  color: #B2DFDB;
}
footer{
	padding: 1% 4%;
	background: #F5EDF0;
	font-size: .6em;
	float: left;
	width: 100%;
}
.mainHeader{
	background-color: #F5EDF0;
	width: 100%;
	float: left;
}
#mainnav{
  background-color: #F5EDF0;
  padding: 1em 0 0;
  width: calc(100% - 200px);
  position: absolute;
  right: 0;
  bottom: 0;
}
#mainnav a{
  background-color: #2A9D8F;
  color: #fff;
  padding: .3em .5em .5em;
  line-height: 2.2em;
	text-decoration: none;
  margin: 0 .5em 0 .5em;
}
#content{
  padding: 4%;
  float: left;
  width: 100%;
}

#quick-convert-output ul {
	margin-top: 10px;
}

#pendng-revisions > table {
	width: 100%;
}

#pending-revisions > table > thead {
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

#pending-revisions > table > thead > tr > td:nth-child(1), #pending-revisions > table > tbody > tr > td:nth-child(1) {
	width: 33%;
}

#pending-revisions ul li{
	list-style-type: none;
	padding-left: 0;
}
.sourceItem, .modifiableItem, .resultItem {
	margin: 0 0 1em 0;
	border: 1px solid white;
}

.error-container h4{
	color: #DC2C04;
	margin-bottom: 1em;
	cursor: default;
}
.error-container .errorItem {
	display: none;
}

.error-container:hover .errorItem {
	display: block;
}

.errorItem {
	margin: 0 0 1em 0;
	border: 1px solid gray;
	background: #DC2C04;
}

.resultItem {
	user-select: none;
	padding: 0;
}

.resultItem.invalid{
	background-color: #DC2C04;
}

.resultItem.valid{
	background-color: #FFE108;
}
.resultItem.valid:hover {
	background-color: #9DFF00
}

.resultItem.approved:hover {
	background-color: #C3E82F
}

.resultItem.approved {
	background-color: #2FE882;
}

.resultItem.valid, .resultItem.approved {
	cursor: pointer;
}

.tooltip-shower {
		display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background: #2385BA;/* css3 */
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

[data-tooltip]:after {
	position: absolute;
	content: attr(data-tooltip);
	opacity: 0;
	pointer-events: none;
	color: blue;
	background: white;
	padding: 5px;
	box-shadow: -4px 4px rgba(128,128,128,0.5);
	z-index: 1000;
	top: 7px;
}

[data-tooltip]:hover:after {
	opacity: 1;
}

button, .btn{
	padding: .5em 1em;
	background-color: #2A9D8F;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
}

.btn[disabled], button[disabled]{
	background-color: grey;
	cursor: default;
	color: white;
	opacity: .2;
}

.actionBar{
	margin: 2em .5em;
}

#transform{
	margin-left: .5em;
}

.reject-all {
	background-color: #DC2C04;
	margin-right: .5em;
}


/*.reject-all, .approve-all{
	width: 100%;
	height: 3em;
	border-top: none;
	border-left: none;
	border-bottom: 2px solid #333;
	border-right: 1px solid #333;
	cursor: pointer;
}
.reject-all:hover{
	background-color: #888;
}

.approve-all {
	background-color: #94FFC9;
}

.approve-all:hover{
	background-color: #DDD;
}*/

#socketkey {
	display: none;
}

.disabled{
	opacity: 0.5;
}

input[isvalid=false] {
	background: #ffd7ce;
}

header .emphasis{
	font-size: 1.2em;
	line-height: 1em;
	margin: 1em;
	color: #CFD;
}

.errors{
	color: red;
}

.transformation-result a{
	margin: 5px;
}